body {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: Tahoma, serif;
    font-size: 16px;
}

.container::before {
    content: '';
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    height: 100%;
    width: 100%;
    filter: blur(2px);
    z-index: -1;
    background-image: url('https://images.unsplash.com/photo-1543362906-acfc16c67564?q=80&w=2565&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
}

h1, p {
    text-align: center;
}

p {
    display: block;
    width: 80%;
    margin: 0 auto 20px;
}

h1 {
    margin: 30px auto;
}

form {
    width: 50%;
    margin: 0 auto;
    background-color: rgba(101, 137, 111, 0.8);
    padding: 20px;
    border-radius: 4px;
}

fieldset.user_data {
    border: none;
    border-bottom: 3px solid;
}

fieldset {
    border: none;
}

li {
    list-style-type: none;
    margin-top: 15px;
}

ul, li {
    margin: 0;
    padding: 0;
}

label {
    display: block;
    margin-bottom: 15px;
}

.user_data {
    input {
        width: 100%;
        min-height: 2.4em;
        height: 38px;
        box-sizing: border-box;
        border-radius: 7px;
        border: 3px solid #1c6c6c;
        background-color: #c7f3f3;
    }
}

#additionalComments {
    border: 1px solid;
    border-radius: 7px;
}

select {
    width: 100%;
}

input[type="submit"] {
    display: block;
    width: 70%;
    margin: 1em auto;
    height: 2em;
    font-size: 1.1rem;
    background-color: #3b8b7f;
    border-color: #1c6c6c;
    min-width: 300px;
}
